version: '3.8'

services:
  ssl:
    container_name: currency-converter
    build: .
    command: bash -c "poetry run uvicorn src.main:app --host 0.0.0.0 --port 8000"    
    env_file:
      - ./.env
    ports:
      - 8000:8000